@keyframes scroll-down {
  from {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
.animation_scroll {
  opacity: 1;
  animation: scroll-down 8s infinite ease-out;
}
.animation_scroll_delay > *:nth-child(1) {
  animation-delay: 0;
}
.animation_scroll_delay > *:nth-child(2) {
  animation-delay: 1s;
}
.animation_scroll_delay > *:nth-child(3) {
  animation-delay: 2s;
}
