---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

type Props = {} & HTMLAttributes<"div">;
const { class: className, ...rest } = Astro.props;
---

<div
  class={cn(
    "w-full rounded-lg bg-accent/10 flex flex-col gap-y-2 justify-center items-center min-h-fit",
    className,
  )}
  {...rest}
>
  <slot />
</div>
