---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"h1"> {
  className?: string;
}
const { className, ...atrr } = Astro.props;
---

<h1
  class={cn("font-title text-header text-center font-semibold", className)}
  {...atrr}
>
  <slot />
</h1>
