<small class="text-[8px] absolute bottom-2 left-5 flex flex-col">
  <span>©&nbsp;{new Date().getFullYear()}</span>
  <span
    >Desarrollado por <a
      href="https://nicolas-amaya.onrender.com/"
      class="underline">Nicolas Amaya</a
    ></span
  >
</small>
