---
import { cn } from "@/lib/utils";
import { Icon } from "astro-icon/components";
import type { HTMLAttributes } from "astro/types";

type Props = {
  item: {
    body: string[];
    icon: string;
  };
} & HTMLAttributes<"div">;
const {
  class: className,
  item: { body, icon },
} = Astro.props;
---

<div
  class={cn(
    "w-full h-fit md:h-auto md:aspect-video md:px-5 md:py-6 flex justify-center flex-col md:gap-y-2 rounded-lg bg-secondary/20 relative",
    className,
  )}
>
  {body.map((text) => <p class="text-center text-[12px] md:text-lg">{text}</p>)}
  <Icon name={icon} class={"absolute top-2 left-2  size-8 text-accent"} />
</div>
