---
import { LINK_PATHS } from "@lib/const";
import img from "@assets/imgs/bosque_monarca.jpg";
import { cn } from "@/lib/utils";
import type { Home } from "@i18n/layouts/home";
import type { HTMLAttributes } from "astro/types";
import Image from "astro/components/Image.astro";
import { Icon } from "astro-icon/components";

type Props = {
  content: Home["visit_section"];
} & HTMLAttributes<"div">;
const { content, class: className, ...rest } = Astro.props;
---

<main
  class={cn(
    "w-full aspect-video md:aspect-16/6 p-5 md:text-[12px] relative z-0",
    "overflow-hidden rounded-lg",
    "flex justify-center items-center flex-col",
    className,
  )}
  {...rest}
>
  <!-- Background Image -->
  <div class="absolute inset-0 -z-40">
    <Image
      src={img}
      alt="background image"
      class={"min-h-full w-auto object-cover"}
    />
    <div class="size-full bg-black/30 inset-0 absolute"></div>
  </div>
  <Icon
    name="ri:compasses-2-line"
    class="text-secondary size-17.5 md:size-15"
  />
  <a
    href={LINK_PATHS["SHRINES"]}
    class="hover:scale-105 transition duration-300 ease-in-out capitalize bg-accent text-white rounded-xs px-2 font-semibold md:text-[18px]"
    >{content.lable}</a
  >
</main>
