---
import "../styles/global.css";
import "@fontsource-variable/inter";
import "@fontsource-variable/nunito";
const { content } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.png" type="image/png" />
    <title>{content.title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
