---
interface Props {
  content?: {
    title?: string;
  };
}
import "../styles/global.css";
import "@fontsource-variable/inter";
import "@fontsource-variable/nunito";
import MainNav from "@components/navegation/MainNav.astro";
const { content = { title: "Ruta Monarca" } } = Astro.props;
---

<html lang={Astro.currentLocale}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.png" type="image/png" />
    <title>{content.title}</title>
  </head>
  <body>
    <MainNav />
    <slot />
  </body>
</html>
